
@if (showCalculationWay) {
  <app-calculation [data]="logs" (close)="onCloseCalculation()">
  </app-calculation>


}
  

<div class="container">
  <h1 >Hexadezimal Konverter</h1>
  <div class="container-outline">
    <div class="convert-options-container">
      <select [(ngModel)]="fromOption">
        <option value="hex">Hexadezimal</option>
        <option value="dezimal">Dezimal</option>
      </select>
      <button title="Tauschen" (click)="trade()" style="font-size: 25px;display:flex;justify-content: center;align-items: center;border-radius: 3px;">
          <img src="arrow.svg">

      </button>
      <select [(ngModel)]="toOption">
        <option value="hex">Hexadezimal</option>
        <option value="dezimal">Dezimal</option>
      </select>
    </div>

    <div class="input-container">
      @if (this.fromOption == "hex" && this.toOption == "dezimal") {
        <input #hexInput spellcheck="false"  style="border-radius: 3px" (keydown.code.enter)="calculate()" [(ngModel)]="hexValue" placeholder="Hexadezimal">
        <input spellcheck="false" readonly style="border-radius: 3px" [(ngModel)]="decimalValue" placeholder="Dezimal">
      }@else {
        <input #decimalInput spellcheck="false"  style="border-radius: 3px" (keydown.code.enter)="calculate()" [(ngModel)]="decimalValue" placeholder="Dezimal">
        <input spellcheck="false"  readonly style="border-radius: 3px" [(ngModel)]="hexValue" placeholder="Hexadezimal">
      }
    </div>

    <div class="option-container">
      <button class="convert-button" (click)="calculate()">Konvertieren</button>
      <button class="reset-button" (click)="reset()">Zurücksetzen</button>
    </div>
  </div>
</div>

